/* ========== Universal Global Styles ==========*/

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:after {
	display: table;
	content: " ";
	clear: both;
}

/* ========== End Universal Styles ==========*/
/* ========== Begin Global Styles ==========*/

/*input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; 
    -webkit-user-select: none; 
       -moz-user-select: none;
        -ms-user-select: none;
}*/

/*input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}*/

.floatR {
	float: right;
}

.floatL {
	float: left;
}

ul li {
	list-style-type: none;
	text-decoration: none;
	color: white;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 62.5%;
}

a:link {
	list-style-type: none;
	text-decoration: none;
	color: rgba(255,255,255,1);
}

a:visited {
	color: rgba(138,204,20,1);
}

a:hover {
	color: rgba(246,52,133,1);
}

a:active {
	color: rgba(255,255,255,1);
}

.container {
	width: 960px;
	margin: 0 auto;
	background: rgba(238,82,50,1);
}

.hide {
	display: none;
}


/* ========== End Global Styles ==========*/
/* ========== Begin Page Styles ==========*/


.sideBar {
	height: 100%;
	width: 30%;
	text-align: center;
	padding: 10px;
}

.sideBar h1 {
	margin-top: 40px;
	background: rgba(153,77,61,1);
	color: rgba(255,0,106,1);
	font-size: 2.4em;
}

.navColumn ul li {
	background: rgba(153,77,61,1);
	margin-top: 5%;
	padding: 5%;
	text-align: right;
	font-size: 1.4em;
}

 .node {
	position: relative;
	width: 50px;
	height: 50px;
	margin-top: 3em;
	background: rgba(255,255,255,1);
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	border: none;
	outline: none;
} 

.showLog {
	background: black;
}

#nodeButton1 {
	margin-top: 0;
}

.nodeColumn {
	height: 100%;
	width: 10%;
	margin: 0 auto;
	text-align: center;
	margin-top: 5em;
}

.nodeColumn div {
	margin: 0 auto;
	margin-top: 50px;
}

.nodeColumn div:last-child {
	margin-bottom: 50px;
}

.nodeLine {
	background: red;
	border: 3px solid rgba(255,255,255,1);
	width: 1200px;
	transform: rotate(90deg);
	margin-left: -552px;
}

.pColumn {
	height: 100%;
	width: 60%;
	background: rgba(153,77,61,1);
	color: rgba(255,255,255,1);
	margin-top: 5%;
}

.pColumn p {
	padding: 10px;
	font-size: 1.4em;
	line-height: 1.6em;
}

.pColumn h2 {
	padding: 10px;
}

footer {
	width: 100%;
	margin-left: 10px;
}

/* ========== End Page Styles ==========*/
