@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow|Convergence|Cagliostro);
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ========== Begin Global Styles ==========*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  display: table;
  content: " ";
  clear: both;
}

.floatR {
  float: right;
}

.floatL {
  float: left;
}

ul li {
  list-style-type: none;
  text-decoration: none;
}

img {
  border: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background: #3c3c3c;
  color: #b4b4b4;
}
body main section ul {
  margin-left: 50px;
  margin-right: 50px;
}

a:link, a:visited {
  list-style-type: none;
  text-decoration: none;
  color: #1e69a5;
}

a:hover {
  color: #50b9f5;
  background: #5a6464;
}

a:active {
  color: #eb6821;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.throw {
  position: absolute;
  top: -999em;
  left: -999em;
}

.hide {
  display: none;
}

body {
  overflow: hidden;
}
body nav {
  text-align: center;
}
body nav ul li {
  margin-top: 10px;
  font-family: "Convergence", sans-serif;
  display: inline-block;
  padding-right: 20px;
  font-size: 20px;
}

main {
  overflow: auto;
}
main ul li {
  margin-top: 50px;
  font-family: "Archivo Narrow", sans-serif;
  font-size: 20px;
}

header, h2, h3 {
  font-family: "Convergence", sans-serif;
  color: #e6e6e6;
}

h1 {
  text-align: center;
}

figure {
  width: 300px;
  text-align: center;
  padding: 20px 0px 20px 0px;
}

article {
  opacity: 0;
  margin-left: 50px;
  left: 50px;
  width: 100%;
}

figure:before {
  content: " ";
  position: absolute;
  width: 300px;
  height: 245px;
  border: 10px solid;
}

figure:hover:before {
  -moz-animation: expandFade 0.4s ease-out 0s 1 forwards;
  -webkit-animation: expandFade 0.4s ease-out 0s 1 forwards;
  animation: expandFade 0.4s ease-out 0s 1 forwards;
}

#name1 {
  width: 50px;
  height: 20px;
  background: blue;
  -moz-animation: cUp 1s ease-in 0s 1 forwards;
  -webkit-animation: cUp 1s ease-in 0s 1 forwards;
  animation: cUp 1s ease-in 0s 1 forwards;
}

#name2 {
  content: "";
  width: 50px;
  height: 20px;
  top: 85px;
  background: red;
  -moz-animation: cDown 1s ease-in 0s 1 forwards;
  -webkit-animation: cDown 1s ease-in 0s 1 forwards;
  animation: cDown 1s ease-in 0s 1 forwards;
}

@-moz-keyframes expandFade {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}
@-webkit-keyframes expandFade {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}
@keyframes expandFade {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}
@-moz-keyframes cUp {
  0% {
    transform: skew(70deg) translateX(0px) translateY(0px);
  }
  100% {
    transform: skew(70deg) translateX(20px) translateY(20px);
  }
}
@-webkit-keyframes cUp {
  0% {
    transform: skew(70deg) translateX(0px) translateY(0px);
  }
  100% {
    transform: skew(70deg) translateX(20px) translateY(20px);
  }
}
@keyframes cUp {
  0% {
    transform: skew(70deg) translateX(0px) translateY(0px);
  }
  100% {
    transform: skew(70deg) translateX(20px) translateY(20px);
  }
}
@-moz-keyframes cDown {
  0% {
    transform: skew(-70deg) translateX(0px) translateY(0px);
  }
  100% {
    transform: skew(-70deg) translateX(20px) translateY(-20px);
  }
}
@-webkit-keyframes cDown {
  0% {
    transform: skew(-70deg) translateX(0px) translateY(0px);
  }
  100% {
    transform: skew(-70deg) translateX(20px) translateY(-20px);
  }
}
@keyframes cDown {
  0% {
    transform: skew(-70deg) translateX(0px) translateY(0px);
  }
  100% {
    transform: skew(-70deg) translateX(20px) translateY(-20px);
  }
}
.parallaxLayer li {
  width: 33.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

aside {
  width: 33.33333%;
  float: right;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

@media (min-width: 481px) and (max-width: 768px) {
  .parallaxLayer li {
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  .gallery img {
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  .gallery img:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
  }
  .gallery img:nth-child(2n + 2) {
    margin-left: 50%;
    margin-right: -100%;
    clear: none;
  }
}
@media (min-width: 1px) and (max-width: 480px) {
  .parallaxLayer li {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  .gallery img {
    width: 99.99167%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  .gallery img:nth-child(1n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
  }
}
.parallax {
  height: 500px;
  /* fallback for older browsers */
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-perspective: 300px;
  perspective: 300px;
}

.group:before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: 50% 50% / cover;
}

.group {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  position: relative;
  min-height: 50vh;
  width: 100vw;
  /*vertical width*/
  transform-style: inherit;
  background: 50% 50% / cover;
}

.parallaxLayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.fore1 {
  -webkit-transform: translateZ(90px) scale(1.5);
  transform: translateZ(90px) scale(0.7);
  z-index: 9;
}

.base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0) scale(1);
  z-index: 5;
}

#group1 {
  z-index: 8;
  /* slide over group 2 */
  background: blue;
}

#group2 {
  z-index: 6;
  /* slide under groups 1 and 3 */
  min-height: 180vh;
}

#group3 {
  z-index: 7;
  /* slide over group 2 and 4 */
  background: blue;
}

#group4 {
  z-index: 5;
  /* slide under group 3 and 5 */
  min-height: 180vh;
}
