@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow|Convergence|Cagliostro|Black+Ops+One);
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ========== Begin Global Styles ==========*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  display: table;
  content: " ";
  clear: both;
}

.floatR {
  float: right;
}

.floatL {
  float: left;
}

ul li {
  list-style-type: none;
  text-decoration: none;
}

img {
  border: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background: #3c3c3c;
  color: #b4b4b4;
}

figure {
  display: block;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

a:link, a:visited {
  list-style-type: none;
  text-decoration: none;
  color: #1e69a5;
}

a:hover {
  color: #50b9f5;
  background: #5a6464;
}

a:active {
  color: #eb6821;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.throw {
  position: absolute;
  top: -999em;
  left: -999em;
}

.hide {
  display: none;
}

body {
  overflow: hidden;
}
body nav {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  position: absolute;
  height: 70px;
  background: #3c3c3c;
  text-align: center;
  z-index: 999;
}
body nav ul li {
  margin-top: 20px;
  font-family: "Convergence", sans-serif;
  display: inline-block;
  padding-right: 50px;
  font-size: 2em;
}

main {
  overflow: auto;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
main ul li {
  margin-top: 50px;
  font-family: "Archivo Narrow", sans-serif;
  font-size: 20px;
}
main a, main article {
  text-align: center;
  margin: 0 auto;
}

header, h2, h3 {
  font-family: "Convergence", sans-serif;
  color: #e6e6e6;
  text-align: center;
}

#group0 header {
  width: 100%;
  height: 600px;
  display: table;
}
#group0 header h1 {
  font-family: "Black Ops One", sans-serif;
  font-size: 5em;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

figure {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0px 20px 0px;
}

article {
  opacity: 0;
  margin-left: 50px;
  left: 50px;
  width: 100%;
}

figure:before {
  content: " ";
  position: absolute;
  width: 300px;
  height: 300px;
  border: 10px solid;
  opacity: 0;
}

figure:hover:before {
  -moz-animation: expandFade 0.4s ease-out 0s 1 forwards;
  -webkit-animation: expandFade 0.4s ease-out 0s 1 forwards;
  animation: expandFade 0.4s ease-out 0s 1 forwards;
}

@-moz-keyframes expandFade {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}
@-webkit-keyframes expandFade {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}
@keyframes expandFade {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}
.parallaxLayer li {
  width: 33.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

.parallax {
  height: 500px;
  /* fallback for older browsers */
  height: 100vh;
  overflow-y: scroll;
  -webkit-perspective: 300px;
  perspective: 300px;
}

.group:before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: 50% 50% / cover;
}

.group {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  position: relative;
  min-height: 100vh;
  width: 100vw;
  /*vertical width*/
  transform-style: inherit;
  background: 50% 50% / cover;
}

.parallaxLayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* ---------- Parallax Depth Styles -----------*/
.fore1 {
  -webkit-transform: translateZ(0px) scale(1);
  transform: translateZ(0px) scale(1);
  z-index: 9;
}

.deep2 {
  -webkit-transform: translateZ(-500px) scale(4);
  transform: translateZ(75px) scale(0.8);
  z-index: 2;
}

/* ------------Begin Group Styles------------- */
#group0 {
  z-index: 6;
}

#group1 header, #group3 header {
  text-align: center;
  font-size: 30px;
  position: absolute;
  top: 50%;
  width: 100vw;
}

#group1 {
  z-index: 8;
  /* slide over group 2 */
  background: url(../img/hexpattern2.svg) 50% 50% no-repeat;
  background-size: cover;
}

#group2 {
  z-index: 6;
  /* slide under groups 1 and 3 */
  min-height: 215vh;
}

#group3 {
  z-index: 7;
  /* slide over group 2 and 4 */
  background: url(../img/hexpattern2.svg) 50% 50% no-repeat;
  background-size: cover;
}

#group4 {
  z-index: 5;
  /* slide under group 3 and 5 */
  min-height: 200vh;
}

/* ------------Begin Breakpoints------------- */
@media (min-width: 650px) and (max-width: 959px) {
  #group2 {
    min-height: 345vh;
  }

  article {
    opacity: 0;
    margin-left: 50px;
    left: 50px;
    width: 93%;
  }

  .parallaxLayer li {
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  .parallaxLayer li:last-of-type {
    margin-bottom: 100px;
  }
}
@media (min-width: 1px) and (max-width: 649px) {
  #group2 {
    min-height: 555vh;
  }

  article {
    opacity: 0;
    margin-left: 50px;
    left: 50px;
    width: 95%;
  }

  .parallaxLayer li {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  .parallaxLayer li:last-of-type {
    margin-bottom: 100px;
  }
}
