$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside
);


// math: fluid, static
// output: float, isolate
// gutter-position: before, after, split, inside

@include border-box-sizing;

$small: 1px 649px;
$medium: 650px 959px;
$large: 960px 1024px;