@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow|Convergence|Cagliostro|Black+Ops+One);
// @import url(https://fonts.googleapis.com/css?family=Black+Ops+One);

$font-logo: 'Black Ops One', sans-serif;
$font-heading: 'Convergence', sans-serif;
$font-copy: 'Archivo Narrow', sans-serif;
$font-links: 'Convergence', sans-serif;

$off-white: rgba(230,230,230,1);