@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow|Convergence|Cagliostro);

$font-heading: 'Convergence', sans-serif;
$font-copy: 'Archivo Narrow', sans-serif;
$font-links: 'Convergence', sans-serif;