@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow|Convergence|Cagliostro|Black+Ops+One);
// @import url(https://fonts.googleapis.com/css?family=Black+Ops+One);

$font-logo: 'Black Ops One', sans-serif;
$font-heading: 'Convergence', sans-serif;
$font-copy: 'Archivo Narrow', sans-serif;
$font-links: 'Convergence', sans-serif;


$bg-color: rgba(60,60,60,1);
$nav-color: rgba(40,40,40,1);
$grey: rgba(180,180,180,1);
$p-visited-color: rgba(30,105,165,1);
$p-active-color: rgba(235,104,33,1);
$bg-hover-color: rgba(90,100,100,1);
$p-hover-color: rgba(80,185,245,1);
$off-white: rgba(230,230,230,1);