@import url(https://fonts.googleapis.com/css?family=Orbitron:700);
/* ========== Global Styles ========== */
/* line 4, ../scss/_base.scss */
.home {
  background: #3c3c3c;
  max-width: 960px;
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
}
/* line 11, ../scss/_base.scss */
.home header {
  position: absolute;
  top: -9999em;
  left: -9999em;
}

/* ========== End Styles ========== */
/* ========== Animation Styles ========== */
/* line 23, ../scss/_base.scss */
.message {
  position: absolute;
  top: 500px;
  left: 165px;
  text-align: center;
  display: table;
  font-family: Orbitron, sans-serif;
  font-size: 0px;
  color: white;
  box-shadow: inset 0 0 50px white, 0 0 80px #79b6bf;
  background: #79b6bf;
  width: 0px;
  height: 40px;
  opacity: 0;
  -moz-animation: systemOn 1s ease-in 7s 1 normal forwards;
  -webkit-animation: systemOn 1s ease-in 7s 1 normal forwards;
  animation: systemOn 1s ease-in 7s 1 normal forwards;
}

/* line 42, ../scss/_base.scss */
.message span {
  opacity: 0;
  display: table-cell;
  vertical-align: middle;
  letter-spacing: 2px;
  z-index: 6;
  -moz-animation: systemText 0.5s ease-in 8.5s 1 normal forwards;
  -webkit-animation: systemText 0.5s ease-in 8.5s 1 normal forwards;
  animation: systemText 0.5s ease-in 8.5s 1 normal forwards;
}

/* line 54, ../scss/_base.scss */
.glow {
  box-shadow: inset 0 0 50px white, 0 0 80px #79b6bf;
}

/* line 60, ../scss/_base.scss */
.glowSpear {
  box-shadow: inset 0 0 30px white, 0 0 30px white;
}

/* line 66, ../scss/_base.scss */
.glowBar {
  box-shadow: inset 0 0 10px white, 0 0 30px white;
}

/* line 72, ../scss/_base.scss */
.glowRibbon {
  box-shadow: 0 0 50px white;
}

/* line 79, ../scss/_base.scss */
.ribbonTop {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 242px;
  top: 5px;
  border: 25px solid #51797f;
  border-right: 0px solid transparent;
  border-bottom: 0px solid transparent;
  transform: rotate(45deg);
  opacity: 0;
  z-index: -5;
  -moz-animation: slideDown 2s ease-out 5.5s 1 normal forwards;
  -webkit-animation: slideDown 2s ease-out 5.5s 1 normal forwards;
  animation: slideDown 2s ease-out 5.5s 1 normal forwards;
}

/* line 94, ../scss/_base.scss */
.ribbonCover {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 242px;
  top: 5px;
  border: 25px solid #51797f;
  border-right: 0px solid transparent;
  border-bottom: 0px solid transparent;
  transform: rotate(45deg);
  opacity: 0;
  z-index: -1;
  -moz-animation: slideDown 2s ease-out 5.5s 1 normal forwards;
  -webkit-animation: slideDown 2s ease-out 5.5s 1 normal forwards;
  animation: slideDown 2s ease-out 5.5s 1 normal forwards;
}

/* line 109, ../scss/_base.scss */
.ribbonMid {
  position: absolute;
  width: 380px;
  height: 10px;
  left: 165px;
  top: 45px;
  opacity: 0;
  z-index: -3;
  background: #51797f;
  -moz-animation: follow 2s ease-out 5.5s 1 normal forwards;
  -webkit-animation: follow 2s ease-out 5.5s 1 normal forwards;
  animation: follow 2s ease-out 5.5s 1 normal forwards;
}

/* line 123, ../scss/_base.scss */
.ribbonTailLeft {
  position: absolute;
  width: 100px;
  height: 25px;
  left: 115px;
  top: 110px;
  background: #51797f;
  opacity: 0;
  z-index: -3;
  -moz-animation: follow 2s ease-out 5.5s 1 normal forwards;
  -webkit-animation: follow 2s ease-out 5.5s 1 normal forwards;
  animation: follow 2s ease-out 5.5s 1 normal forwards;
}

/* line 135, ../scss/_base.scss */
.ribbonTailRight {
  position: absolute;
  width: 100px;
  height: 25px;
  left: 495px;
  top: 110px;
  background: #51797f;
  opacity: 0;
  z-index: -3;
  box-shadow: 0 0 50px white;
  -moz-animation: follow 2s ease-out 5.5s 1 normal forwards;
  -webkit-animation: follow 2s ease-out 5.5s 1 normal forwards;
  animation: follow 2s ease-out 5.5s 1 normal forwards;
}

/* line 154, ../scss/_base.scss */
.barLeft {
  position: absolute;
  width: 8px;
  height: 15px;
  left: 275px;
  top: 205px;
  opacity: 0;
  transform: rotate(45deg);
  z-index: -2;
  border-left: 8px solid #79b6bf;
  border-right: 8px solid #79b6bf;
}

/* line 167, ../scss/_base.scss */
#bar1 {
  -moz-animation: expandTopLeft 1s ease-out 5.5s 1 normal forwards;
  -webkit-animation: expandTopLeft 1s ease-out 5.5s 1 normal forwards;
  animation: expandTopLeft 1s ease-out 5.5s 1 normal forwards;
}

/* line 170, ../scss/_base.scss */
#bar2 {
  top: 360px;
  -moz-animation: expandBottomLeft 1s ease-out 5.5s 1 normal forwards;
  -webkit-animation: expandBottomLeft 1s ease-out 5.5s 1 normal forwards;
  animation: expandBottomLeft 1s ease-out 5.5s 1 normal forwards;
}

/* line 175, ../scss/_base.scss */
.barRight {
  position: absolute;
  width: 8px;
  height: 15px;
  left: 410px;
  top: 205px;
  opacity: 0;
  transform: rotate(-45deg);
  z-index: -2;
  border-left: 8px solid #79b6bf;
  border-right: 8px solid #79b6bf;
}

/* line 188, ../scss/_base.scss */
#bar3 {
  -moz-animation: expandTopRight 1s ease-out 5s 1 normal forwards;
  -webkit-animation: expandTopRight 1s ease-out 5s 1 normal forwards;
  animation: expandTopRight 1s ease-out 5s 1 normal forwards;
}

/* line 192, ../scss/_base.scss */
#bar4 {
  top: 360px;
  -moz-animation: expandBottomRight 1s ease-out 5s 1 normal forwards;
  -webkit-animation: expandBottomRight 1s ease-out 5s 1 normal forwards;
  animation: expandBottomRight 1s ease-out 5s 1 normal forwards;
}

/* line 199, ../scss/_base.scss */
.descend {
  width: 90px;
  height: 300px;
  position: absolute;
  top: 80px;
  left: 310px;
  z-index: 1;
  opacity: 1;
  background: #79b6bf;
  -moz-animation: spinDown 3s ease-in-out 0s 1 normal forwards, gradientSlide 2s ease-in-out 3s infinite alternate both;
  -webkit-animation: spinDown 3s ease-in-out 0s 1 normal forwards, gradientSlide 2s ease-in-out 3s infinite alternate both;
  animation: spinDown 3s ease-in-out 0s 1 normal forwards, gradientSlide 2s ease-in-out 3s infinite alternate both;
}

/* line 214, ../scss/_base.scss */
.zigzag {
  position: absolute;
  width: 105px;
  height: 0px;
  top: 325px;
  left: 294px;
  z-index: 3;
  transform: scale(1.8) rotate(90deg);
  background: #51797f;
}

/* line 225, ../scss/_base.scss */
.zigzag:before {
  content: "";
  display: block;
  position: absolute;
  top: -13px;
  width: 105%;
  height: 25px;
  background: linear-gradient(60deg, rgba(0, 0, 0, 0) 33.333%, #51797f 33.333%, #51797f 66.667%, rgba(0, 0, 0, 0) 66.667%), linear-gradient(-60deg, rgba(0, 0, 0, 0) 33.333%, #51797f 33.333%, #51797f 66.667%, rgba(0, 0, 0, 0) 66.667%);
  background-size: 20px 85px;
}

/* line 246, ../scss/_base.scss */
.zigzag:after {
  content: "";
  display: block;
  position: absolute;
  top: -22px;
  left: 0px;
  width: 105%;
  height: 25px;
  transform: rotate(180deg);
  background: linear-gradient(60deg, rgba(0, 0, 0, 0) 33.333%, #51797f 33.333%, #51797f 66.667%, rgba(0, 0, 0, 0) 66.667%), linear-gradient(-60deg, rgba(0, 0, 0, 0) 33.333%, #51797f 33.333%, #51797f 66.667%, rgba(0, 0, 0, 0) 66.667%);
  background-size: 20px 85px;
}

/* unused internal pattern */
/* line 308, ../scss/_base.scss */
.blink {
  opacity: 0;
  -moz-animation: blink 0.1s ease-in-out 3s 5 alternate forwards;
  -webkit-animation: blink 0.1s ease-in-out 3s 5 alternate forwards;
  animation: blink 0.1s ease-in-out 3s 5 alternate forwards;
}

/* line 315, ../scss/_base.scss */
.ringTrim {
  width: 350px;
  height: 350px;
  position: absolute;
  left: 160px;
  top: 130px;
  z-index: -6;
  border: 20px solid #45bacb;
  opacity: 0;
  border-radius: 50%;
  -moz-animation: scaleOut 4s 1 cubic-bezier(1, 0, 0.93, 1) 3s forwards, fade 1s 1 ease-out 7s forwards;
  -webkit-animation: scaleOut 4s 1 cubic-bezier(1, 0, 0.93, 1) 3s forwards, fade 1s 1 ease-out 7s forwards;
  animation: scaleOut 4s 1 cubic-bezier(1, 0, 0.93, 1) 3s forwards, fade 1s 1 ease-out 7s forwards;
}

/* line 330, ../scss/_base.scss */
.ringPulse {
  width: 390px;
  height: 390px;
  position: absolute;
  left: 150px;
  top: 120px;
  z-index: -6;
  border: 10px solid #79b6bf;
  border-radius: 50%;
  opacity: 0;
  -moz-animation: scaleOut 4s 1 cubic-bezier(1, 0, 0.93, 1) 3s forwards, pulseFade 1s 1 ease-out 7s forwards;
  -webkit-animation: scaleOut 4s 1 cubic-bezier(1, 0, 0.93, 1) 3s forwards, pulseFade 1s 1 ease-out 7s forwards;
  animation: scaleOut 4s 1 cubic-bezier(1, 0, 0.93, 1) 3s forwards, pulseFade 1s 1 ease-out 7s forwards;
}

/* line 345, ../scss/_base.scss */
.block {
  width: 250px;
  height: 250px;
  position: absolute;
  left: 230px;
  top: 200px;
  background: #3c3c3c;
  border-radius: 50%;
  z-index: -5;
  -moz-animation: scale 5s 1 cubic-bezier(1, 0, 0.93, 1) 2s forwards;
  -webkit-animation: scale 5s 1 cubic-bezier(1, 0, 0.93, 1) 2s forwards;
  animation: scale 5s 1 cubic-bezier(1, 0, 0.93, 1) 2s forwards;
}

/* line 357, ../scss/_base.scss */
.ring {
  height: 175px;
  width: 350px;
  border-radius: 350px 350px 0 0;
  position: absolute;
  left: 180px;
  top: 150px;
  z-index: -5;
  opacity: 0;
  background: #79b6bf;
  transform-origin: bottom center;
  -moz-animation: rotateCCW 4s 1 cubic-bezier(1, 0, 0.93, 1) 3s forwards, fade 1s 1 ease-out 7s forwards;
  -webkit-animation: rotateCCW 4s 1 cubic-bezier(1, 0, 0.93, 1) 3s forwards, fade 1s 1 ease-out 7s forwards;
  animation: rotateCCW 4s 1 cubic-bezier(1, 0, 0.93, 1) 3s forwards, fade 1s 1 ease-out 7s forwards;
}

/* line 373, ../scss/_base.scss */
#ring2 {
  border-radius: 0 0 350px 350px;
  top: 325px;
  background: #51797f;
  transform-origin: top center;
}

/* line 382, ../scss/_base.scss */
.spearLeft {
  height: 100px;
  width: 30px;
  position: absolute;
  top: 25px;
  z-index: -1;
  left: 52px;
  opacity: 0;
  background: #79b6bf;
}

/* line 393, ../scss/_base.scss */
#spear1 {
  -moz-animation: diagonalLeft 0.5s 1 ease-in 3.5s forwards;
  -webkit-animation: diagonalLeft 0.5s 1 ease-in 3.5s forwards;
  animation: diagonalLeft 0.5s 1 ease-in 3.5s forwards;
}

/* line 397, ../scss/_base.scss */
#spear2 {
  top: 140px;
  -moz-animation: diagonalLeft 0.5s 1 ease-in 3.75s forwards;
  -webkit-animation: diagonalLeft 0.5s 1 ease-in 3.75s forwards;
  animation: diagonalLeft 0.5s 1 ease-in 3.75s forwards;
}

/* line 402, ../scss/_base.scss */
#spear3 {
  top: 180px;
  -moz-animation: diagonalLeft 0.5s 1 ease-in 4.25s forwards;
  -webkit-animation: diagonalLeft 0.5s 1 ease-in 4.25s forwards;
  animation: diagonalLeft 0.5s 1 ease-in 4.25s forwards;
}

/* line 407, ../scss/_base.scss */
#spear4 {
  top: 297px;
  -moz-animation: diagonalLeft 0.5s 1 ease-in 4.75s forwards;
  -webkit-animation: diagonalLeft 0.5s 1 ease-in 4.75s forwards;
  animation: diagonalLeft 0.5s 1 ease-in 4.75s forwards;
}

/* line 412, ../scss/_base.scss */
.spearRight {
  height: 100px;
  width: 30px;
  position: absolute;
  top: 25px;
  z-index: -1;
  left: 350px;
  opacity: 0;
  background: #79b6bf;
}

/* line 423, ../scss/_base.scss */
#spear5 {
  -moz-animation: diagonalRight 0.5s 1 ease-in 4s forwards;
  -webkit-animation: diagonalRight 0.5s 1 ease-in 4s forwards;
  animation: diagonalRight 0.5s 1 ease-in 4s forwards;
}

/* line 427, ../scss/_base.scss */
#spear6 {
  top: 140px;
  -moz-animation: diagonalRight 0.5s 1 ease-in 4.25s forwards;
  -webkit-animation: diagonalRight 0.5s 1 ease-in 4.25s forwards;
  animation: diagonalRight 0.5s 1 ease-in 4.25s forwards;
}

/* line 432, ../scss/_base.scss */
#spear7 {
  top: 180px;
  -moz-animation: diagonalRight 0.5s 1 ease-in 4.5s forwards;
  -webkit-animation: diagonalRight 0.5s 1 ease-in 4.5s forwards;
  animation: diagonalRight 0.5s 1 ease-in 4.5s forwards;
}

/* line 437, ../scss/_base.scss */
#spear8 {
  top: 297px;
  -moz-animation: diagonalRight 0.5s 1 ease-in 5s forwards;
  -webkit-animation: diagonalRight 0.5s 1 ease-in 5s forwards;
  animation: diagonalRight 0.5s 1 ease-in 5s forwards;
}

/* line 442, ../scss/_base.scss */
.slide {
  -moz-animation: slide 1s;
  -webkit-animation: slide 1s;
  animation: slide 1s;
}

/* ========== Animation Styles End ========== */
/* ========== Keyframes Begin ========== */
@-moz-keyframes spinDown {
  0% {
    transform: translateY(-30px);
    transform: rotateY(0deg);
  }
  30% {
    transform: rotateY(180deg);
  }
  100% {
    transform: translateY(100px);
  }
}
@-webkit-keyframes spinDown {
  0% {
    transform: translateY(-30px);
    transform: rotateY(0deg);
  }
  30% {
    transform: rotateY(180deg);
  }
  100% {
    transform: translateY(100px);
  }
}
@keyframes spinDown {
  0% {
    transform: translateY(-30px);
    transform: rotateY(0deg);
  }
  30% {
    transform: rotateY(180deg);
  }
  100% {
    transform: translateY(100px);
  }
}
@-moz-keyframes diagonalLeft {
  0% {
    transform: skew(70deg) rotate(70deg) translateX(45px) translateY(140px);
    opacity: 0;
  }
  100% {
    transform: skew(70deg) rotate(70deg) translateX(65px) translateY(140px);
    opacity: 1;
  }
}
@-webkit-keyframes diagonalLeft {
  0% {
    transform: skew(70deg) rotate(70deg) translateX(45px) translateY(140px);
    opacity: 0;
  }
  100% {
    transform: skew(70deg) rotate(70deg) translateX(65px) translateY(140px);
    opacity: 1;
  }
}
@keyframes diagonalLeft {
  0% {
    transform: skew(70deg) rotate(70deg) translateX(45px) translateY(140px);
    opacity: 0;
  }
  100% {
    transform: skew(70deg) rotate(70deg) translateX(65px) translateY(140px);
    opacity: 1;
  }
}
@-moz-keyframes diagonalBL {
  0% {
    transform: skew(-70deg) rotate(-70deg) translateX(45px) translateY(140px);
    opacity: 0;
  }
  100% {
    transform: skew(-70deg) rotate(-70deg) translateX(65px) translateY(140px);
    opacity: 1;
  }
}
@-webkit-keyframes diagonalBL {
  0% {
    transform: skew(-70deg) rotate(-70deg) translateX(45px) translateY(140px);
    opacity: 0;
  }
  100% {
    transform: skew(-70deg) rotate(-70deg) translateX(65px) translateY(140px);
    opacity: 1;
  }
}
@keyframes diagonalBL {
  0% {
    transform: skew(-70deg) rotate(-70deg) translateX(45px) translateY(140px);
    opacity: 0;
  }
  100% {
    transform: skew(-70deg) rotate(-70deg) translateX(65px) translateY(140px);
    opacity: 1;
  }
}
@-moz-keyframes diagonalRight {
  0% {
    transform: skew(-70deg) rotate(-70deg) translateX(50px) translateY(390px);
    opacity: 0;
  }
  100% {
    transform: skew(-70deg) rotate(-70deg) translateX(30px) translateY(400px);
    opacity: 1;
  }
}
@-webkit-keyframes diagonalRight {
  0% {
    transform: skew(-70deg) rotate(-70deg) translateX(50px) translateY(390px);
    opacity: 0;
  }
  100% {
    transform: skew(-70deg) rotate(-70deg) translateX(30px) translateY(400px);
    opacity: 1;
  }
}
@keyframes diagonalRight {
  0% {
    transform: skew(-70deg) rotate(-70deg) translateX(50px) translateY(390px);
    opacity: 0;
  }
  100% {
    transform: skew(-70deg) rotate(-70deg) translateX(30px) translateY(400px);
    opacity: 1;
  }
}
@-moz-keyframes diagonalBR {
  0% {
    transform: skew(70deg) rotate(70deg) translateX(50px) translateY(390px);
    opacity: 0;
  }
  100% {
    transform: skew(70deg) rotate(70deg) translateX(30px) translateY(400px);
    opacity: 1;
  }
}
@-webkit-keyframes diagonalBR {
  0% {
    transform: skew(70deg) rotate(70deg) translateX(50px) translateY(390px);
    opacity: 0;
  }
  100% {
    transform: skew(70deg) rotate(70deg) translateX(30px) translateY(400px);
    opacity: 1;
  }
}
@keyframes diagonalBR {
  0% {
    transform: skew(70deg) rotate(70deg) translateX(50px) translateY(390px);
    opacity: 0;
  }
  100% {
    transform: skew(70deg) rotate(70deg) translateX(30px) translateY(400px);
    opacity: 1;
  }
}
@-moz-keyframes rotateCCW {
  0% {
    transform: scale(0.6) rotate(0);
    opacity: 0.3;
  }
  5% {
    opacity: 0.3;
  }
  10% {
    opacity: 0.7;
  }
  15% {
    opacity: 0.3;
  }
  20% {
    opacity: 0.7;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 0.7;
  }
  35% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.7;
  }
  45% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.7;
  }
  55% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.7;
  }
  95% {
    transform: scale(1.2) rotateZ(-760deg);
  }
  100% {
    transform: scale(1.2) rotateZ(-720deg);
    opacity: 1;
  }
}
@-webkit-keyframes rotateCCW {
  0% {
    transform: scale(0.6) rotate(0);
    opacity: 0.3;
  }
  5% {
    opacity: 0.3;
  }
  10% {
    opacity: 0.7;
  }
  15% {
    opacity: 0.3;
  }
  20% {
    opacity: 0.7;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 0.7;
  }
  35% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.7;
  }
  45% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.7;
  }
  55% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.7;
  }
  95% {
    transform: scale(1.2) rotateZ(-760deg);
  }
  100% {
    transform: scale(1.2) rotateZ(-720deg);
    opacity: 1;
  }
}
@keyframes rotateCCW {
  0% {
    transform: scale(0.6) rotate(0);
    opacity: 0.3;
  }
  5% {
    opacity: 0.3;
  }
  10% {
    opacity: 0.7;
  }
  15% {
    opacity: 0.3;
  }
  20% {
    opacity: 0.7;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 0.7;
  }
  35% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.7;
  }
  45% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.7;
  }
  55% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.7;
  }
  95% {
    transform: scale(1.2) rotateZ(-760deg);
  }
  100% {
    transform: scale(1.2) rotateZ(-720deg);
    opacity: 1;
  }
}
@-moz-keyframes scale {
  0% {
    transform: scale(0.4);
  }
  95% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes scale {
  0% {
    transform: scale(0.4);
  }
  95% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scale {
  0% {
    transform: scale(0.4);
  }
  95% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes scaleOut {
  0% {
    opacity: 1;
    transform: scale(0.6);
  }
  5% {
    opacity: 0.3;
  }
  10% {
    opacity: 0.7;
  }
  15% {
    opacity: 0.3;
  }
  20% {
    opacity: 0.7;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 0.7;
  }
  35% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.7;
  }
  45% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.7;
  }
  55% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.7;
  }
  95% {
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1.2);
  }
}
@-webkit-keyframes scaleOut {
  0% {
    opacity: 1;
    transform: scale(0.6);
  }
  5% {
    opacity: 0.3;
  }
  10% {
    opacity: 0.7;
  }
  15% {
    opacity: 0.3;
  }
  20% {
    opacity: 0.7;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 0.7;
  }
  35% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.7;
  }
  45% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.7;
  }
  55% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.7;
  }
  95% {
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1.2);
  }
}
@keyframes scaleOut {
  0% {
    opacity: 1;
    transform: scale(0.6);
  }
  5% {
    opacity: 0.3;
  }
  10% {
    opacity: 0.7;
  }
  15% {
    opacity: 0.3;
  }
  20% {
    opacity: 0.7;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 0.7;
  }
  35% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.7;
  }
  45% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.7;
  }
  55% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.7;
  }
  95% {
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1.2);
  }
}
@-moz-keyframes pulseFade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}
@-webkit-keyframes pulseFade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}
@keyframes pulseFade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}
@-moz-keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes gradientSlide {
  0% {
    box-shadow: inset 0 0 50px #fff, inset 0px 50px 100px #0ff, inset 0px -50px 100px #f0f, 0 0 50px #fff, 0px -10px 80px #0ff, 0px 10px 80px #f0f;
    opacity: 1;
  }
  100% {
    box-shadow: inset 0 0 50px #fff, inset 0px -50px 100px #0ff, inset 0px 50px 100px #f0f, 0 0 50px #fff, 0px -10px 80px #f0f, 0px 10px 80px #0ff;
    /* outer right cyan */
    opacity: 0.8;
  }
}
@-webkit-keyframes gradientSlide {
  0% {
    box-shadow: inset 0 0 50px #fff, inset 0px 50px 100px #0ff, inset 0px -50px 100px #f0f, 0 0 50px #fff, 0px -10px 80px #0ff, 0px 10px 80px #f0f;
    opacity: 1;
  }
  100% {
    box-shadow: inset 0 0 50px #fff, inset 0px -50px 100px #0ff, inset 0px 50px 100px #f0f, 0 0 50px #fff, 0px -10px 80px #f0f, 0px 10px 80px #0ff;
    /* outer right cyan */
    opacity: 0.8;
  }
}
@keyframes gradientSlide {
  0% {
    box-shadow: inset 0 0 50px #fff, inset 0px 50px 100px #0ff, inset 0px -50px 100px #f0f, 0 0 50px #fff, 0px -10px 80px #0ff, 0px 10px 80px #f0f;
    opacity: 1;
  }
  100% {
    box-shadow: inset 0 0 50px #fff, inset 0px -50px 100px #0ff, inset 0px 50px 100px #f0f, 0 0 50px #fff, 0px -10px 80px #f0f, 0px 10px 80px #0ff;
    /* outer right cyan */
    opacity: 0.8;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes slideUp {
  0% {
    transform: translateY(0px) rotate(45deg);
    opacity: 0;
  }
  100% {
    transform: translateY(-100px) rotate(45deg);
    opacity: 1;
  }
}
@-webkit-keyframes slideUp {
  0% {
    transform: translateY(0px) rotate(45deg);
    opacity: 0;
  }
  100% {
    transform: translateY(-100px) rotate(45deg);
    opacity: 1;
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(0px) rotate(45deg);
    opacity: 0;
  }
  100% {
    transform: translateY(-100px) rotate(45deg);
    opacity: 1;
  }
}
@-moz-keyframes slideDown {
  0% {
    transform: translateY(0px) rotate(45deg);
    opacity: 0;
  }
  100% {
    transform: translateY(110px) rotate(45deg);
    opacity: 1;
  }
}
@-webkit-keyframes slideDown {
  0% {
    transform: translateY(0px) rotate(45deg);
    opacity: 0;
  }
  100% {
    transform: translateY(110px) rotate(45deg);
    opacity: 1;
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(0px) rotate(45deg);
    opacity: 0;
  }
  100% {
    transform: translateY(110px) rotate(45deg);
    opacity: 1;
  }
}
@-moz-keyframes follow {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  100% {
    transform: translateY(110px);
    opacity: 1;
  }
}
@-webkit-keyframes follow {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  100% {
    transform: translateY(110px);
    opacity: 1;
  }
}
@keyframes follow {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  100% {
    transform: translateY(110px);
    opacity: 1;
  }
}
@-moz-keyframes expandTopLeft {
  0% {
    transform: rotateZ(45deg);
    opacity: 0;
  }
  100% {
    top: 190px;
    left: 245px;
    height: 100px;
    transform: rotateZ(45deg);
    opacity: 1;
  }
}
@-webkit-keyframes expandTopLeft {
  0% {
    transform: rotateZ(45deg);
    opacity: 0;
  }
  100% {
    top: 190px;
    left: 245px;
    height: 100px;
    transform: rotateZ(45deg);
    opacity: 1;
  }
}
@keyframes expandTopLeft {
  0% {
    transform: rotateZ(45deg);
    opacity: 0;
  }
  100% {
    top: 190px;
    left: 245px;
    height: 100px;
    transform: rotateZ(45deg);
    opacity: 1;
  }
}
@-moz-keyframes expandBottomLeft {
  0% {
    height: 15px;
    transform: rotateZ(45deg);
    opacity: 0;
  }
  100% {
    left: 245px;
    top: 347px;
    height: 100px;
    transform: rotateZ(45deg);
    opacity: 1;
  }
}
@-webkit-keyframes expandBottomLeft {
  0% {
    height: 15px;
    transform: rotateZ(45deg);
    opacity: 0;
  }
  100% {
    left: 245px;
    top: 347px;
    height: 100px;
    transform: rotateZ(45deg);
    opacity: 1;
  }
}
@keyframes expandBottomLeft {
  0% {
    height: 15px;
    transform: rotateZ(45deg);
    opacity: 0;
  }
  100% {
    left: 245px;
    top: 347px;
    height: 100px;
    transform: rotateZ(45deg);
    opacity: 1;
  }
}
@-moz-keyframes expandTopRight {
  0% {
    height: 15px;
    transform: rotateZ(-45deg);
    opacity: 0;
  }
  100% {
    left: 440px;
    top: 190px;
    height: 100px;
    transform: rotateZ(-45deg);
    opacity: 1;
  }
}
@-webkit-keyframes expandTopRight {
  0% {
    height: 15px;
    transform: rotateZ(-45deg);
    opacity: 0;
  }
  100% {
    left: 440px;
    top: 190px;
    height: 100px;
    transform: rotateZ(-45deg);
    opacity: 1;
  }
}
@keyframes expandTopRight {
  0% {
    height: 15px;
    transform: rotateZ(-45deg);
    opacity: 0;
  }
  100% {
    left: 440px;
    top: 190px;
    height: 100px;
    transform: rotateZ(-45deg);
    opacity: 1;
  }
}
@-moz-keyframes expandBottomRight {
  0% {
    height: 15px;
    transform: rotateZ(-45deg);
    opacity: 0;
  }
  100% {
    left: 440px;
    top: 347px;
    height: 100px;
    transform: rotateZ(-45deg);
    opacity: 1;
  }
}
@-webkit-keyframes expandBottomRight {
  0% {
    height: 15px;
    transform: rotateZ(-45deg);
    opacity: 0;
  }
  100% {
    left: 440px;
    top: 347px;
    height: 100px;
    transform: rotateZ(-45deg);
    opacity: 1;
  }
}
@keyframes expandBottomRight {
  0% {
    height: 15px;
    transform: rotateZ(-45deg);
    opacity: 0;
  }
  100% {
    left: 440px;
    top: 347px;
    height: 100px;
    transform: rotateZ(-45deg);
    opacity: 1;
  }
}
@-moz-keyframes systemOn {
  0% {
    width: 0px;
    height: 40px;
    opacity: 0;
  }
  100% {
    width: 380px;
    height: 40px;
    opacity: 1;
  }
}
@-webkit-keyframes systemOn {
  0% {
    width: 0px;
    height: 40px;
    opacity: 0;
  }
  100% {
    width: 380px;
    height: 40px;
    opacity: 1;
  }
}
@keyframes systemOn {
  0% {
    width: 0px;
    height: 40px;
    opacity: 0;
  }
  100% {
    width: 380px;
    height: 40px;
    opacity: 1;
  }
}
@-moz-keyframes systemText {
  0% {
    opacity: 0;
    font-size: 0px;
    transform: translateY(-20px);
  }
  50% {
    opacity: 0;
    font-size: 20px;
  }
  100% {
    opacity: 1;
    font-size: 20px;
    transform: translateY(0px);
  }
}
@-webkit-keyframes systemText {
  0% {
    opacity: 0;
    font-size: 0px;
    transform: translateY(-20px);
  }
  50% {
    opacity: 0;
    font-size: 20px;
  }
  100% {
    opacity: 1;
    font-size: 20px;
    transform: translateY(0px);
  }
}
@keyframes systemText {
  0% {
    opacity: 0;
    font-size: 0px;
    transform: translateY(-20px);
  }
  50% {
    opacity: 0;
    font-size: 20px;
  }
  100% {
    opacity: 1;
    font-size: 20px;
    transform: translateY(0px);
  }
}
/* ========== Keyframes End ========== */
/* ========== Tablet ========== */
@media only screen and (max-width: 960px) {
  /* line 749, ../scss/_base.scss */
  main {
    max-width: 720px;
    transform: scale(0.75);
  }
}
/* ========== Phone ========== */
@media only screen and (max-width: 720px) {
  /* line 758, ../scss/_base.scss */
  main {
    max-width: 480px;
    transform: scale(0.5);
  }
}
