@import url(https://fonts.googleapis.com/css?family=Homenaje|Source+Sans+Pro:400,300);
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ========== Begin Global Styles ==========*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.floatR {
  float: right;
}

.floatL {
  float: left;
}

ul li {
  list-style-type: none;
  text-decoration: none;
}

img {
  border: 0;
}

body {
  font-family: "Source Sans Pro:400", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

a:link, a:visited {
  list-style-type: none;
  text-decoration: none;
  color: #1e0a0a;
}

a:hover {
  color: #1e0a0a;
}

a:active {
  color: #c0ccb5;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.hide {
  display: none;
}

.throw {
  position: absolute;
  left: -999em;
  top: -999em;
}

/* ========== Begin Project Styles ==========*/
nav {
  background: #c4c5c7;
  padding: 10px 0px;
  float: left;
  width: 100vw;
  position: fixed;
  z-index: 999;
  font-family: "Homenaje", sans-serif;
  font-size: 20px;
}
nav ul li {
  display: inline-block;
  margin-right: 2em;
}
nav ul li:first-of-type {
  margin-left: 2em;
}

nav ul:hover > li {
  opacity: 0.5;
  color: #ebe1e1;
}

nav ul:hover > li:hover {
  opacity: 1.0;
  color: #1e0a0a;
}

h1 {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url(../img/logo.jpg) no-repeat;
  width: 200px;
  height: 200px;
  float: right;
}

#main-header {
  background: url(../img/bg-header.jpg) top center fixed;
  background-size: cover;
  width: 100%;
  height: 960px;
}
#main-header:after {
  display: table;
  content: " ";
  clear: both;
}

main section {
  padding-bottom: 100px;
}
main section header {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin: 100px 0px 20px 0px;
}
main section header h2 {
  width: 25%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin: 20px 0px 20px 0px;
  font-family: "Homenaje", sans-serif;
  font-size: 30px;
  color: #1e0a0a;
  border-bottom: 1px solid black;
}
main section header h2:before {
  content: "";
  border-left: 1px solid black;
  position: absolute;
  height: 100px;
}
main section header h2 span {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 6.66667%;
  color: #1e0a0a;
}

#intro:after {
  display: table;
  content: " ";
  clear: both;
}
#intro header h2 {
  width: 25%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin: 0px 0px 20px 50%;
}
#intro img {
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
#intro div {
  width: 45.83333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 1.66667%;
}
#intro p:nth-child(-n+3) {
  font-size: 20px;
}
#intro p:nth-child(n+3) {
  margin-bottom: 12px;
}

#how {
  background: #c0ccb5;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
#how:after {
  display: table;
  content: " ";
  clear: both;
}
#how header {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding-left: 0;
}
#how header h2 {
  width: 25%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
#how article p {
  margin-left: 5%;
}
#how article h3 {
  font-family: "Source Sans Pro:400", sans-serif;
  font-size: 20px;
  text-align: center;
}
#how article:first-of-type {
  width: 33.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
#how article:nth-child(3) {
  width: 33.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
#how article:nth-child(4) {
  width: 33.33333%;
  float: right;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
#how figure {
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

#context {
  background: #464646;
  color: #ebe1e1;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
#context:after {
  display: table;
  content: " ";
  clear: both;
}
#context header {
  padding-left: 0;
}
#context header h2 {
  border-bottom-color: #ebe1e1;
}
#context header h2:before {
  border-color: #ebe1e1;
}
#context header span {
  color: #ebe1e1;
}
#context p {
  width: 33.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 2.5%;
  padding-left: 0;
}
#context img {
  width: 25%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-top: 1.66667%;
}
#context img:nth-child(4n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
}
#context img:nth-child(4n + 2) {
  margin-left: 25%;
  margin-right: -100%;
  clear: none;
}
#context img:nth-child(4n + 3) {
  margin-left: 50%;
  margin-right: -100%;
  clear: none;
}
#context img:nth-child(4n + 4) {
  margin-left: 75%;
  margin-right: -100%;
  clear: none;
}

#cabin, #common {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
#cabin header, #common header {
  padding-left: 0;
}
#cabin article, #common article {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
#cabin article p, #common article p {
  width: 25%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 2.5%;
  padding-left: 0;
}
#cabin figure, #common figure {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
#cabin figure img, #common figure img {
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  width: 50%;
  float: right;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-top: 1.66667%;
}

#product {
  background: #c0ccb5;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
#product figure {
  background: #464646;
  padding: 50px;
  text-align: center;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
#product figure img {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  width: 100%;
  height: auto;
  display: block;
  margin-top: 20px;
  position: relative;
}
#product figure #caption {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  font-size: 20px;
  color: #ebe1e1;
  margin-top: 20px;
}
#product figure #prev, #product figure #next {
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  color: #ebe1e1;
  font-size: 30px;
  margin-top: 10px;
  display: inline-block;
  cursor: pointer;
}

#contact {
  background: #464646;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
#contact header {
  padding-left: 0;
}
#contact header h2 {
  border-bottom-color: #ebe1e1;
}
#contact header h2:before {
  border-color: #ebe1e1;
}
#contact header span {
  color: #ebe1e1;
}
#contact form {
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 8.33333%;
}
#contact form textarea, #contact form input {
  height: 30px;
  font-family: "Source Sans Pro:400", sans-serif;
  color: #ebe1e1;
  background-color: #3c3232;
  border: 1px solid;
  border-color: #464646;
  margin-top: 1em;
}
#contact form #name {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
#contact form #mail {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
#contact form #msg {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  height: 100px;
}
#contact form button {
  cursor: pointer;
  color: #c0ccb5;
  font-family: "Homenaje", sans-serif;
  background-color: #1e0a0a;
  width: 100px;
  text-align: center;
  border: 1px solid;
  border-color: #3c3232;
  margin-top: 1em;
}
#contact footer {
  width: 33.33333%;
  float: right;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 8.33333%;
  color: #ebe1e1;
}
#contact footer ul li a {
  color: #ebe1e1;
}
#contact footer i {
  font-size: 30px;
  color: #ebe1e1;
  margin-right: 10px;
}
#contact footer i:last-of-type {
  margin-bottom: 20px;
}

/* ========== Begin Breakpoint Styles ==========*/
@media (min-width: 481px) and (max-width: 768px) {
  nav ul li {
    margin-right: 1em;
  }
  nav ul li:first-of-type {
    margin-left: 1em;
  }

  #how {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  #how article:first-of-type {
    width: 33.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  #how article:nth-child(3) {
    width: 33.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  #how article:nth-child(4) {
    width: 33.33333%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  #how figure {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  #context img {
    width: 33.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-top: 1.66667%;
  }
  #context img:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
  }
  #context img:nth-child(3n + 2) {
    margin-left: 33.33333%;
    margin-right: -100%;
    clear: none;
  }
  #context img:nth-child(3n + 3) {
    margin-left: 66.66667%;
    margin-right: -100%;
    clear: none;
  }

  #cabin article, #common article {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  #cabin article p:first-of-type, #common article p:first-of-type {
    width: 45.83333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 1.66667%;
  }
  #cabin article p:nth-child(3), #common article p:nth-child(3) {
    width: 45.83333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 1.66667%;
  }
  #cabin figure, #common figure {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  #cabin figure img, #common figure img {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-top: 1.66667%;
  }
}
@media (min-width: 1px) and (max-width: 480px) {
  main section header {
    width: 41.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin: 100px 0px 20px 0px;
  }
  main section header h2 {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin: 20px 0px 20px 0px;
  }
  main section header h2:before {
    content: "";
    border-left: 1px solid black;
    position: absolute;
    height: 100px;
  }
  main section header h2 span {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 6.66667%;
    color: #1e0a0a;
  }

  nav ul li {
    width: 33.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-top: 0.25em;
    margin-right: 0;
  }
  nav ul li:first-of-type {
    margin-left: 0;
  }

  #intro header h2 {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin: 0px 0px 20px 0px;
  }
  #intro img {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  #intro div {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 1.66667%;
    margin-top: 30px;
  }
  #intro p {
    margin-left: 5%;
  }
  #intro p:nth-child(-n+3) {
    font-size: 20px;
  }
  #intro p:nth-child(n+3) {
    margin-bottom: 12px;
  }

  #how {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  #how header h2 {
    width: 40%;
  }
  #how article {
    margin-bottom: 30px;
  }
  #how article:first-of-type {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  #how article:nth-child(3) {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  #how article:nth-child(4) {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  #how figure {
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
  }

  #context header {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    padding-left: 0;
  }
  #context header h2 {
    width: 40%;
  }
  #context header span {
    color: #ebe1e1;
  }
  #context p {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    padding-left: 0;
  }
  #context img {
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-top: 1.66667%;
  }
  #context img:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
  }
  #context img:nth-child(2n + 2) {
    margin-left: 50%;
    margin-right: -100%;
    clear: none;
  }

  #cabin, #common {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  #cabin header, #common header {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    padding-left: 0;
  }
  #cabin header h2, #common header h2 {
    width: 40%;
  }
  #cabin article, #common article {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  #cabin article p, #common article p {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 2.5%;
    padding-left: 0;
  }
  #cabin figure, #common figure {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  #cabin figure img, #common figure img {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-top: 1.66667%;
  }

  #contact header {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    padding-left: 0;
  }
  #contact header h2 {
    width: 40%;
  }
  #contact form {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 0;
  }
  #contact form textarea, #contact form input {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    height: 30px;
    font-family: "Source Sans Pro:400", sans-serif;
    color: #ebe1e1;
    background-color: #3c3232;
    border: 1px solid;
    border-color: #464646;
    margin-top: 1em;
  }
  #contact form #name {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  #contact form #mail {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  #contact form #msg {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  #contact footer {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 0;
    text-align: center;
  }
  #contact footer ul li {
    display: inline-block;
    margin-top: 50px;
    margin-right: 10px;
  }
}
