body {
  background: $bg-color;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  color: $font-color;
  font-family: $font-copy;
}

#message {
  font-size: 100px;
  width: 100%;
  text-align: center;
  margin-top: 15%;
  opacity: 0;
}

#warning {
	opacity: 0;
}

#retry {
  border: none;
  border-radius: 5%;
  color: $font-color;
  padding: 20px 40px;
  font-size: 20px;
  cursor: pointer;
  background: $button-color;
  bottom: 10%;
  left: 45%;
  position: absolute;
}

#score {
  font-family: $font-score;
  font-size: 40px;
  text-align: center;
  z-index: -1;
}

#timer{
	width: 50%;
	height: 2%;
	background: $bar-color;
	margin: 0 auto;
	position: absolute;
	top: 90%;
	left: 25%;

}

.target {
	border-radius: 50%;
	background: url(../img/target.png) 50% 50% no-repeat;
	background-size: cover;
	position: absolute;
	z-index: 1;
}

.hole {
	width: 100px;
	height: 100px;
	background: url(../img/shot.png) no-repeat;
}