@import 'compass';

/* ========== Global Styles ========== */
.home {
	background: rgba(60,60,60,1);
	max-width: 960px;
	position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
	header {
		position: absolute;
		top: -9999em;
		left: -9999em;
	}
}

/* ========== End Styles ========== */

/* ========== Animation Styles ========== */

// message box begin
.message {
	position: absolute;
	top: 500px;
	left: 165px;
	text-align: center;
	display: table;
	font-family: $font-stack;
	font-size: 0px;
	color: white;
	box-shadow:
		inset 0 0 50px $glow-white,
		0 0 80px $glow-blue;
	background: $pale-blue;
	width: 0px;
	height: 40px;
	opacity: 0;
	@include animation (systemOn 1s ease-in 7s 1 normal forwards);
}

.message span {
	opacity: 0;
	display: table-cell;
	vertical-align: middle;
	letter-spacing: 2px;
	z-index: 6;
	@include animation (systemText 0.5s ease-in 8.5s 1 normal forwards);

}
// message box end

// glow effect begin
.glow {
	box-shadow:
		inset 0 0 50px $glow-white,
		0 0 80px $glow-blue;
}

.glowSpear {
	box-shadow:
		inset 0 0 30px $glow-white,
		0 0 30px white;
}

.glowBar {
	box-shadow:
		inset 0 0 10px $glow-white,
		0 0 30px white;
}

.glowRibbon {
	box-shadow:
		0 0 50px $glow-white,
}
// glow effect end

// hat begin
.ribbonTop {
	position: absolute;
    width: 200px;
    height: 200px;
    left: 242px;
    top: 5px;
    border: 25px solid $dark-blue;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    transform: rotate(45deg);
    opacity: 0;
    z-index: -5;
    @include animation (slideDown 2s ease-out 5.5s 1 normal forwards);
}

.ribbonCover {
	position: absolute;
    width: 200px;
    height: 200px;
    left: 242px;
    top: 5px;
    border: 25px solid $dark-blue;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    transform: rotate(45deg);
    opacity: 0;
    z-index: -1;
    @include animation (slideDown 2s ease-out 5.5s 1 normal forwards);
}

.ribbonMid {
	position: absolute;
    width: 380px;
    height: 10px;
    left: 165px;
    top: 45px;
    opacity: 0;
    z-index: -3;
    background: $dark-blue;
    @include animation (follow 2s ease-out 5.5s 1 normal forwards);
}



.ribbonTailLeft {
    position: absolute;
    width: 100px;
    height: 25px;
    left: 115px;
    top: 110px;
    background: $dark-blue;
    opacity: 0;
    z-index: -3;
    @include animation (follow 2s ease-out 5.5s 1 normal forwards);
}

.ribbonTailRight {
	position: absolute;
    width: 100px;
    height: 25px;
    left: 495px;
    top: 110px;
    background: $dark-blue;
    opacity: 0;
    z-index: -3;
	box-shadow:
		0 0 50px $glow-white;
    @include animation (follow 2s ease-out 5.5s 1 normal forwards);
}



// hat end

// external pattern begin
.barLeft {
	position: absolute;
    width: 8px;
    height: 15px;
    left: 275px;
    top: 205px;
    opacity: 0;
    transform: rotate(45deg);
    z-index: -2;
    border-left: 8px solid #79b6bf;
    border-right: 8px solid #79b6bf;
}

#bar1 {
	@include animation (expandTopLeft 1s ease-out 5.5s 1 normal forwards);
}
#bar2 {
	top: 360px;
	@include animation (expandBottomLeft 1s ease-out 5.5s 1 normal forwards);
}

.barRight {
	position: absolute;
    width: 8px;
    height: 15px;
    left: 410px;
    top: 205px;
    opacity: 0;
    transform: rotate(-45deg);
    z-index: -2;
    border-left: 8px solid #79b6bf;
    border-right: 8px solid #79b6bf;
}

#bar3 {
	@include animation (expandTopRight 1s ease-out 5s 1 normal forwards);
}

#bar4 {
	top: 360px;
	@include animation (expandBottomRight 1s ease-out 5s 1 normal forwards);
}
// external pattern end

// obelisk begin
.descend {
	width: 90px;
	height: 300px;
	position: absolute;
	top: 80px;
	left: 310px;
	z-index: 1;
	opacity: 1;
	background: $pale-blue;
	@include animation (spinDown 3s ease-in-out 0s 1 normal forwards, gradientSlide 2s ease-in-out 3s infinite alternate both);
}
// obelisk end

// internal pattern begin

.zigzag {
    position: absolute;
    width: 105px;
    height: 0px;
    top: 325px;
    left: 294px;
    z-index: 3;
    transform: scale(1.8) rotate(90deg);
    background: $dark-blue;
}

.zigzag:before {
  content: "";
  display: block;
  position: absolute;
  top: -13px;
  width: 105%;
  height: 25px;
  background:
    linear-gradient(
      60deg, transparent 33.333%,
      $dark-blue 33.333%, $dark-blue 66.667%,
      transparent 66.667%
    ),
    linear-gradient(
      -60deg, transparent 33.333%,
      $dark-blue 33.333%, $dark-blue 66.667%,
      transparent 66.667%
    );
  background-size: 20px 85px;
}

.zigzag:after {
    content: "";
    display: block;
    position: absolute;
    top: -22px;
    left: 0px;
    width: 105%;
    height: 25px;
    transform: rotate(180deg);
  background:
    linear-gradient(
      60deg, transparent 33.333%,
      $dark-blue 33.333%, $dark-blue 66.667%,
      transparent 66.667%
    ),
    linear-gradient(
      -60deg, transparent 33.333%,
      $dark-blue 33.333%, $dark-blue 66.667%,
      transparent 66.667%
    );
  background-size: 20px 85px;
}

/* unused internal pattern */

// .wave{
//     text-align: center;
//     background: linear-gradient(to bottom, #0000ff, #ff0000);
//     height: 0px;
//     top: 330px;
//     left: 225px;
//     width: 220px;
//     transform: rotate(90deg) scale(1.2);
//     position: absolute;
//     z-index: 3;
// }

// .wave::before{
//     content: "";
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     background-repeat: repeat-x;
//     height: 10px;
//     background-size: 20px 200px;
//     background-image: radial-gradient(circle at 10px -5px, rgba(0, 0, 0, 0) 12px, #ffffff 13px)
// }

// .wave::after{
//     content: "";
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     background-repeat: repeat-x;
//     height: 25px;
//     background-size: 40px 20px;
//     background-image: radial-gradient(circle at 10px 10px, #ffffff 9px, rgba(0, 0, 0, 0) 10px);
// }


.blink {
	opacity: 0;
	@include animation (blink .1s ease-in-out 3s 5 alternate forwards);
}
// internal pattern end

// rotating ring begin
.ringTrim {
	width: 350px;
    height: 350px;
    position: absolute;
    left: 160px;
    top: 130px;
    z-index: -6;
    border: 20px solid $light-blue;
    opacity: 0;
    border-radius: 50%;   
    @include animation (
    	scaleOut 4s 1 cubic-bezier(1,0,0.93,1) 3s forwards,
    	fade 1s 1 ease-out 7s forwards);
}

.ringPulse {
	width: 390px;
    height: 390px;
    position: absolute;
    left: 150px;
    top: 120px;
    z-index: -6;
    border: 10px solid $pale-blue;
    border-radius: 50%;
    opacity: 0;
    @include animation (
    	scaleOut 4s 1 cubic-bezier(1,0,0.93,1) 3s forwards,
    	pulseFade 1s 1 ease-out 7s forwards);
}

.block {
    width: 250px;
    height: 250px;
    position: absolute;
    left: 230px;
    top: 200px;
    background: rgba(60,60,60,1);
    border-radius: 50%;
    z-index: -5;
    @include animation (scale 5s 1 cubic-bezier(1,0,.93,1) 2s forwards);
}

.ring {
    height: 175px;
    width: 350px;
    border-radius: 350px 350px 0 0;
    position: absolute;
    left: 180px;
    top: 150px;
	z-index: -5;
	opacity: 0;
	background: $pale-blue;
	transform-origin: bottom center;
	@include animation (
		rotateCCW 4s 1 cubic-bezier(1,0,.93,1) 3s forwards,
		fade 1s 1 ease-out 7s forwards);
}

#ring2 {
    border-radius: 0 0 350px 350px;
    top: 325px;
	background: $dark-blue;
	transform-origin: top center;
}
// back ring end

// spear begin
.spearLeft {
	height: 100px;
	width: 30px;
	position: absolute;
	top: 25px;
	z-index: -1;
	left: 52px;
	opacity: 0;
	background: $pale-blue;
}

#spear1 {
	@include animation (diagonalLeft 0.50s 1 ease-in 3.5s forwards);
}

#spear2 {
	top: 140px;
	@include animation (diagonalLeft 0.50s 1 ease-in 3.75s forwards);
}

#spear3 {
	top: 180px;
	@include animation (diagonalLeft 0.50s 1 ease-in 4.25s forwards);
}

#spear4 {
	top: 297px;
	@include animation (diagonalLeft 0.50s 1 ease-in 4.75s forwards);
}

.spearRight {
	height: 100px;
	width: 30px;
	position: absolute;
	top: 25px;
	z-index: -1;
	left: 350px;
	opacity: 0;
	background: $pale-blue;
}

#spear5 {
	@include animation (diagonalRight 0.50s 1 ease-in 4s forwards);
}

#spear6 {
	top: 140px;
	@include animation (diagonalRight 0.50s 1 ease-in 4.25s forwards);
}

#spear7 {
	top: 180px;
	@include animation (diagonalRight 0.50s 1 ease-in 4.5s forwards);
}

#spear8 {
	top: 297px;
	@include animation (diagonalRight 0.50s 1 ease-in 5s forwards);
}

.slide {
	@include animation (slide 1s);
}
// spear end

/* ========== Animation Styles End ========== */

/* ========== Keyframes Begin ========== */

@include keyframes (spinDown) {
	0% {
		transform: translateY(-30px);
		transform: rotateY(0deg);
	}
	30% {
		transform: rotateY(180deg);
	}
	100% {
		transform: translateY(100px);
	}
}

@include keyframes (diagonalLeft) {
	0% {
	    transform: skew(70deg) rotate(70deg) translateX(45px) translateY(140px);
	    opacity: 0;
	}
	100% {
	    transform: skew(70deg) rotate(70deg) translateX(65px) translateY(140px);
	    opacity: 1;
	}
}

@include keyframes (diagonalBL) {
	0% {
	    transform: skew(-70deg) rotate(-70deg) translateX(45px) translateY(140px);
	    opacity: 0;
	}
	100% {
	    transform: skew(-70deg) rotate(-70deg) translateX(65px) translateY(140px);
	    opacity: 1;
	}
}

@include keyframes (diagonalRight) {
	0% {
		transform: skew(-70deg) rotate(-70deg) translateX(50px) translateY(390px);
		opacity: 0;
	}
	100% {
		// transform: skew(-70deg) rotate(-70deg) translateX(50px) translateY(350px);
		transform: skew(-70deg) rotate(-70deg) translateX(30px) translateY(400px);
		opacity: 1;
	}
}

@include keyframes (diagonalBR) {
	0% {
		transform: skew(70deg) rotate(70deg) translateX(50px) translateY(390px);
		opacity: 0;
	}
	100% {
		// transform: skew(-70deg) rotate(-70deg) translateX(50px) translateY(350px);
		transform: skew(70deg) rotate(70deg) translateX(30px) translateY(400px);
		opacity: 1;
	}
}

@mixin blink($frame) {
	#{$frame} {
		opacity: 0.3;
	}
	#{$frame + 5%} {
		opacity: 0.7;
	}
}

@mixin blinkN($start, $delay, $times) {
	@for $i from 1 to $times {
		@include blink($start + (($i - 1) * $delay))
	}
}

@include keyframes (rotateCCW) {
	0% {
		transform: scale(0.6) rotate(0);
		opacity: 0.3;
	}
	@include blinkN(5%, 10%, 7);
	95% {
		transform: scale(1.2) rotateZ(-760deg);
	}
	100% {
		transform: scale(1.2) rotateZ(-720deg);
		opacity: 1;
	}
}

@include keyframes (scale) {
	0% {
		transform: scale(0.4);
	}
	95% {
		transform: scale(1);
	}
	100% {
		transform: scale(1);
	}
}

@include keyframes (scaleOut) {
	0% {
		opacity: 1;
		transform: scale(0.6);
	}
	@include blinkN(5%, 10%, 7);
	95% {
		transform: scale(1.2);
	}
	100% {
		opacity: 1;
		transform: scale(1.2);
	}
}

@include keyframes (pulseFade) {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: scale(1.5);
	}
}

@include keyframes (fade) {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@include keyframes (gradientSlide) {
	0% {
    	box-shadow:
	        inset 0 0 50px #fff,      /* inner white */
	        // inset 0px 20px 80px #0ff,   /* inner left magenta short */
	        // inset 0px -20px 80px #f0f,  /* inner right cyan short */
	        inset 0px 50px 100px #0ff,  /* inner left magenta broad */
	        inset 0px -50px 100px #f0f, /* inner right cyan broad */
	        0 0 50px #fff,            /* outer white */
	        0px -10px 80px #0ff,        /* outer left magenta */
	        0px 10px 80px #f0f; 
		opacity: 1;
	}
	100% {
    	box-shadow:
	        inset 0 0 50px #fff,      /* inner white */
	        // inset 0px 20px 80px #f0f,   /* inner left magenta short */
	        // inset 0px -20px 80px #0ff,  /* inner right cyan short */
	        inset 0px -50px 100px #0ff,  /* inner left magenta broad */
	        inset 0px 50px 100px #f0f, /* inner right cyan broad */
	        0 0 50px #fff,            /* outer white */
	        0px -10px 80px #f0f,        /* outer left magenta */
	        0px 10px 80px #0ff;         /* outer right cyan */
		opacity: 0.8;
	}
}

@include keyframes (blink) {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

@include keyframes (slideUp) {
	0% {
		transform: translateY(0px) rotate(45deg);
		opacity: 0;
	}
	100% {
		transform: translateY(-100px) rotate(45deg);
		opacity: 1;
	}
}

@include keyframes (slideDown) {
	0% {
		transform: translateY(0px) rotate(45deg);
		opacity: 0;
	}
	100% {
		transform: translateY(110px) rotate(45deg);
		opacity: 1;
	}
}

@include keyframes (follow) {
	0% {
		transform: translateY(0px);
		opacity: 0;
	}
	100% {
		transform: translateY(110px);
		opacity: 1;
	}
}

@include keyframes (expandTopLeft) {
	0% {
	 	transform: rotateZ(45deg);
		opacity: 0;
	}
	100% {
	    top: 190px;
	    left: 245px;
	    height: 100px;
	    transform: rotateZ(45deg);
	    opacity: 1;
	}
}

@include keyframes (expandBottomLeft) {
	0% {
		height: 15px;
	 	transform: rotateZ(45deg);
		opacity: 0;
	}
	100% {
	    left: 245px;
	    top: 347px;
	    height: 100px;
	    transform: rotateZ(45deg);
	    opacity: 1;
	}
}

@include keyframes (expandTopRight) {
	0% {
		height: 15px;
		transform: rotateZ(-45deg);
		opacity: 0;
	}
	100% {
	    left: 440px;
	    top: 190px;
	    height: 100px;
	    transform: rotateZ(-45deg);
	    opacity: 1;
	}
}

@include keyframes (expandBottomRight) {
	0% {
		height: 15px;
		transform: rotateZ(-45deg);
		opacity: 0;
	}
	100% {
	    left: 440px;
	    top: 347px;
	    height: 100px;
	    transform: rotateZ(-45deg);
	    opacity: 1;
	}
}

@include keyframes (systemOn) {
	0% {
		width: 0px;
		height: 40px;
		opacity: 0;
	}
	100% {
		width: 380px;
		height: 40px;
		opacity: 1;
	}
}

@include keyframes (systemText) {
	0% {
		opacity: 0;
		font-size: 0px;
		transform: translateY(-20px);
	}
	50% {
		opacity: 0;
		font-size: 20px;
	}
	100% {
		opacity: 1;
		font-size: 20px;
		transform: translateY(0px);
	}
}

/* ========== Keyframes End ========== */

/* ========== Tablet ========== */

@media only screen and (max-width: 960px) {
	main {
		max-width: 720px;
		transform: scale(0.75)
	}
}

/* ========== Phone ========== */

@media only screen and (max-width: 720px) {
	main {
		max-width: 480px;
		transform: scale(0.5)
	}
}