@import url(https://fonts.googleapis.com/css?family=Orbitron:700);

$font-stack: Orbitron, sans-serif;

$bg-color: rgba(60,60,60,1);
$pale-blue: rgba(121,182,191,1);
$glow-white: rgba(255,255,255,1);
$glow-blue: rgba(121,182,191,1);
$dark-blue: rgba(81,121,127,1);
$light-blue: rgba(69,186,203,1);